node_modules/
spec/dist/
web/dist/
*.tgz
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
/Package.resolved

# Android
.gradle/
build/
local.properties
*.iml
.idea/

# .NET
bin/
obj/
artifacts/
*.user
.vs/
